<h1>Burger Annihilator!</h1>

<h2>Ready to annihilate!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Already devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger_name">Burger Name:</label>
    <input type="text" id="nombre" name="name">
  </div>

  <div class="form-group">
    <label for="burger_status">Devoured?</label><br>
    <input type="radio" name="status" value="1" checked> Yes!<br>
    <input type="radio" name="status" value="0"> No!
  </div>

  <button type="submit">Add Burger</button>
</form>
