<h1>Burger Annihilator!</h1>

{{!-- <img src='assets/img/burger2.png'/> --}}

<div class="container">

  <div class="row">
    
    <div class="col s3">
      <img src='assets/img/burger2.png' />
    </div>

    <div class="col s1">
    </div>

    <div class="col s4">

      <h3 class="center-align">Add a Burger</h3>
      
      <form class="create-form">

        {{!-- <p class="center-align">Burger Name:</p> --}}

        <div class="form-group">
          <label for="bu"></label>
          <input type="text" id="bu" name="name">
        </div>

        {{!-- <div class="form-group">
          <label for="burger_status">Devoured?</label>
          <br>
          <input type="radio" name="devoured" value="1" checked> Yes!
          <br>
          <input type="radio" name="devoured" value="0"> No!
        </div> --}}


          {{!-- <p>Devoured already?</p>
          <p>
            <input type="radio" name="devoured" value="1" id="burger_status1">
            <label for="burger_status1">Yes!</label>
          </p>
          <p>
            <input type="radio" name="devoured" value="0" id="burger_status2" checked>
            <label for="burger_status2">No!</label>
          </p> --}}

        {{!-- <a class="waves-effect waves-light btn grey darken-3" type="submit">
          Add Burger
        </a> --}}
        
        <button type="submit" class="center-align">Add Burger</button>

      </form>

    </div>

    <div class="col s1">
    </div>

    <div class="col s3">
      <img src='assets/img/burger2.png' />
    </div>

  </div>

  <div class="row" id="lists">

    <div class="col s6">
      <h3>Ready to annihilate!</h3>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col s6">
      <h3>Already devoured!</h3>
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devour=false}}
          {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>

  <div class="row" id="burger_row">
    <div class="col s3">
      <img src='assets/img/burger2.png' />
    </div>
    <div class="col s3">
      <img src='assets/img/burger2.png' />
    </div>
    <div class="col s3">
      <img src='assets/img/burger2.png' />
    </div>
    <div class="col s3">
      <img src='assets/img/burger2.png' />
    </div>
  </div>

</div>

<footer class="page-footer grey darken-3">
  <div class="footer-copyright">
    <div class="container">
      Made by William Chandler 2017
      <a class="grey-text text-lighten-4 right" href="https://github.com/wllm-chndlr/burger-annihilator">Github repo</a>
    </div>
  </div>
</footer>